{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-tsdoc"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
    "@typescript-eslint/no-shadow": ["error"],
    "tsdoc/syntax": "warn",
    "brace-style": "error",
    "curly": "error",
    "indent": "off",
    "@typescript-eslint/indent": ["error", 4, { "ignoredNodes": ["PropertyDefinition"] }]
  }
}

